.experiencesImg {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
}

.experiencesItemWrapper {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 300px;
    padding: 0;
    margin: 0;
    overflow:hidden;
}

.fullWidthColumn {
    padding: 0 !important;
    margin: 0 !important;
}
